* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
body {
    background-color: #effeff;
}
.title {
    text-align: center;
    margin: 40px 0;
    font-size: 3em;
}
main {
    display: flex;
    width: 100vh;
    height: 100vh;
    margin: auto;
}
main .container {
    width: 315px;
    background-color: white;
    border: 2px solid #6B05AA;
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.container .search {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 1rem;
    background-color: white;
    border-bottom: 2px solid #6B05AA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .more-info {
    border-bottom: 2px solid #6B05AA;
    background-color: white;
    height: 350px;
    margin-top: 10px;
    padding: 1rem;
    text-align: center;
    font-size: 0.8em;
}
.container .pokemons-details {
    background-color: white;
}

.container .pokemons-details img {
    height: 90px;
}

