.pokemon-scroll {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--cor-branco);
    width: 100%;
    height: 640px;
    margin-left: 1rem;
    padding: 2rem 0;
    border: 2px solid var(--cor-roxo-principal);
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
    border-radius: 20px;
}

.pokemon-scroll .card-scroll {
    width: 240px;
    height: 240px;
	color: #222;
	text-align: center;
	border: 1px solid rgb(133, 133, 133);
	border-radius: 20px;
}
