#card {
    background: radial-gradient(circle at 50% -10%, orange 56%, #fff 56%);
    width: 100%;
    padding: 30px 20px;
}
#card .hp{
    width: 80px;
    background-color: white;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
}
#card .poke-name{
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}
#card .types{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px 0;
}
#card img {
    display: block;
    max-height: 110px;
    margin: 20px auto;
}
.pokemons-details .stats-hp .title {
    font-size: 1.1em;
    font-weight: bold;
    color: #535353;
}

.pokemons-details .stats-hp div{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    height: 20px;
    justify-content: space-between;
}