@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --cor-fundo: #f4f7f8;
    --cor-roxo-principal: #6B05AA;
    --cor-branco: #fff;
 /*cores dos pokemóns por tipo*/
    --bug: #26de81;
    --dragon: #ffeaa7;
    --electric: #fed330;
    --fairy: #FF0069;
    --fighting: #30336b;
    --fire: #f0932b;
    --flying: #81ecec;
    --grass: #00b894;
    --ground: #EFB549;
    --ghost: #a55eea;
    --ice: #74b9ff;
    --normal: #95afc0;
    --poison: #6c5ce7;
    --psychic: #a29bfe;
    --rock: #2d3436;
    --water: #0190FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
body {
    background-color: #f4f7f8;
}

.title {
    text-align: center;
    margin: 15px 0;
    font-size: 2.3em;
}




