@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --cor-fundo: #f4f7f8;
    --cor-roxo-principal: #6B05AA;
    --cor-branco: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
body {
    background-color: #f4f7f8;
}
.title {
    text-align: center;
    margin: 15px 0;
    font-size: 2.3em;
}
.container .more-info {
    border-bottom: 2px solid var(--cor-roxo-principal);
    background-color: var(--cor-branco);
    height: 370px;
    margin-top: 10px;
    padding: 1rem;
    text-align: center;
}

.container .more-info p{
    font-size: 2rem;
    align-content: center;
    padding-top: 4.5rem;
}


