main {
    display: flex;
    width: 1300px;
    margin: 20px auto;
}
main .container {
    width: 310px;
    height: 540px;
    padding: 0 10px;
    background-color: var(--cor-branco);
    border: 2px solid var(--cor-vermelho);
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
    border-radius: 20px;
    margin-left: 20px;   
    position: fixed;
}
@media screen and (max-width:1024px) {
    main {
        display: flex;
        width: 100%;
        margin-left: 15px;
        justify-content: space-between;
        }
    main .container {
        width: 32%;
        padding: 0 10px;
    }
}
@media screen and (max-width:768px) {
    main {
        display: flex;
        width: 100%;
        justify-content: space-between;
        }
    main .container {
        width: calc(90% - 400px);
    }
}

@media screen and (max-width:640px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    main .container {
        position: relative;
        width: 85%;
        height: 100px;
        margin-bottom: 10px;
    }
    .container .pokemon-info {
        height: 100%;
    }
}
