.container-card {
    display: none;
    width: 300px;
	height: 320px;
}
.pokemon-info {
    background: radial-gradient(circle at 50% -5%, orange 36%, #fff 36%);
    padding: 12px;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0,0,0, 0.15);
    text-transform: uppercase;
}
.hp{
    width: 80px;
    background-color: white;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: bold;
}
.poke-name{
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}
.types{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 20px 0;
    font-size: 0.8em;
    font-weight: bold;
    color: #535353;
}
.pokemon-img {
    height: 110px;
    margin: 10px auto;
}
.stats-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 0.8em;
    color: #535353;
}

.stats-info span {
    font-weight: bold;
}

@media screen and (max-width:1024px) {
	.pokemons-details{
		height: 300px;
	}
}
@media screen and (max-width:768px) {
    .pokemons-details{
		height: 320px;
	}
}
@media screen and (max-width:640px) {
   
}