.container-card {
    width: 340px;
	height: 320px;
}
.pokemon-info {
    width: 90%;
    padding: 20px 10px;
    text-transform: uppercase;
}
.hp{
    width: 80px;
    background-color: white;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: bold;
}
.poke-name{
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}
.types{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 20px 0;
    font-size: 0.8em;
    font-weight: bold;
    color: #535353;
}
.pokemon-img {
    height: 110px;
    margin: 10px auto;
}
.stats-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 0.8em;
    color: #535353;
}

.stats-info span {
    font-weight: bold;
}

@media screen and (max-width:1024px) {
	.container-card{
		margin: 0;
        padding: 0;
	}
}
@media screen and (max-width:768px) {
    .container-card{
        width: 300px;
        margin: 0;
        padding: 0;
	}
    .pokemon-info{
        font-size: 0.95em;
        width: 69%;
        padding: 0;
    }
    .stats-info {
        font-size: 0.6em;
    }
}
@media screen and (max-width:640px) {
    .container-card{

    }

}