@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url("main-card-wrap.css");
@import url("header.css");
@import url("search.css");
@import url("main-container.css");
@import url("section-pokemons-details.css");


:root {
    --cor-fundo: #f4f7f8;
    --cor-roxo-principal: #6B05AA;
    --cor-branco: #fff;
    /*cores dos pokemons por tipo */
    --bug: #26de81;
    --dragon: #ffeaa7;
    --electric: #fed330;
    --fairy: #FF0069;
    --fighting: #30336b;
    --fire: #f0932b;
    --flying: #81ecec;
    --grass: #00b894;
    --ground: #EFB549;
    --ghost: #a55eea;
    --ice: #74b9ff;
    --normal: #95afc0;
    --poison: #6c5ce7;
    --psychic: #a29bfe;
    --rock: #2d3436;
    --water: #0190FF;

    --fonte1: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte1);
    font-size: 1em;
    text-decoration: none;
}
html, body {
    min-height: 100vh;
    background-color: #f4f7f8;
    text-align: center;
}

footer {
    margin-bottom: 20px;
}

.bug {
    background: radial-gradient(circle at 60% 0%, var(--bug) 46%, #fff 36%);
}
.dragon {
    background: radial-gradient(circle at 60% 0%, var(--dragon) 46%, #fff 36%);
}
.electric {
    background: radial-gradient(circle at 60% 0%, var(--electric) 46%, #fff 36%);
}
.fairy {
    background: radial-gradient(circle at 60% 0%, var(--fairy) 46%, #fff 36%);
}
.fighting{
    background: radial-gradient(circle at 60% 0%, var(--fighting) 46%, #fff 36%);
}
.fire {
    background: radial-gradient(circle at 60% 0%, var(--fire) 46%, #fff 36%);
}
.flying {
    background: radial-gradient(circle at 60% 0%, var(--flying) 46%, #fff 36%);
}
.grass {
    background: radial-gradient(circle at 60% 0%, var(--grass) 46%, #fff 36%);
}
.ground {
    background: radial-gradient(circle at 60% 0%, var(--ground) 46%, #fff 36%);
}
.ghost {
    background: radial-gradient(circle at 60% 0%, var(--ghost) 46%, #fff 36%);
}
.ice{
    background: radial-gradient(circle at 60% 0%, var(--ice) 46%, #fff 36%);
}
.normal {
    background: radial-gradient(circle at 60% 0%, var(--normal) 46%, #fff 36%);
}
.poison {
    background: radial-gradient(circle at 60% 0%, var(--poison) 46%, #fff 36%);
}
.psychic {
    background: radial-gradient(circle at 60% 0%, var(--psychic) 46%, #fff 36%);
}
.rock {
    background: radial-gradient(circle at 60% 0%, var(--rock) 46%, #fff 36%);
}
.water {
    background: radial-gradient(circle at 60% 0%, var(--water) 46%, #fff 36%);
}




